.inner_box{
    height: 370px;width: 100%;
    margin-top: 75px auto 115px;
    
}
.inner_box li{
    cursor: pointer;
    height: 375px;width: 338px;
    width: 337px;
    background: #EEEEEE;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 11px;
}
.inner_icon{
    height: 60px;width: 60px;
    background: url(../images/images/bi1.png);
    background-size:cover;
}
.inner_box li:nth-child(2){
    margin: 0 5px;
}
.inner_box li:nth-child(3){
    height: 182px;width: 338px;
    width: 337px;
}
.inner_box li:nth-child(4){
    height: 182px;width: 338px;
    width: 337px;
}
.inner_list h3{
    color: #656565;
}
.inner_list a{
    width: 150px;
    padding: 10px 30px;
    border: 1px solid #C1C1C1;
    border-radius: 8px;
}
.inner_list:hover{
    background: #E26D10;color: #fff;
}
.inner_list:hover h3{
    color: #fff;
}
.inner_list:hover a{
    color: #fff;
    border-color:#fff; 
}
.inner_list:hover a{
    color: #fff;
    border-color:#fff; 
}
.inner_list:hover .inner_icon{
    background: url(../images/images/bi2.png);
    background-size:cover; 
}
/*.inner_list:nth-child(3){ 
    padding:0;
    background: #fff;
}
.inner_list:nth-child(4){ 
    padding:0;
    background: #fff;
}

.inner_list:nth-child(2):hover{
    background: #E26D10;color: #fff;
}
.inner_list:nth-child(2):hover h3{
    color: #fff;
}
.inner_list:nth-child(2):hover a{
    color: #fff;
    border-color:#fff; 
}
.inner_list:nth-child(2):hover a{
    color: #fff;
    border-color:#fff; 
}
.inner_list:nth-child(2):hover .inner_icon{
    background: url(../images/images/bi2.png);
    background-size:cover; 
}
.inner_list:nth-child(3)>div{
    background: #EEEEEE;
    height: 182px;
}
.inner_icon{
    height: 60px;width: 60px;
    background: url(../images/images/bi1.png) no-repeat;
    background-size:cover; 
}

.inner_list:nth-child(3)>div:hover{
    background: #E26D10;color: #fff;
}
.inner_list:nth-child(3)>div:hover h3{
    color: #fff;
}
.inner_list:nth-child(3)>div:hover a{
    color: #fff;
    border-color:#fff; 
}
.inner_list:nth-child(3)>div:hover a{
    color: #fff;
    border-color:#fff; 
}
.inner_list:nth-child(3)>div:hover .inner_icon{
    background: url(../images/images/bi2.png);
    background-size:cover; 
}*/