{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}init.css">
<link rel="stylesheet" href="{CSS_PATH}chenggonganli.css">

        <div class="sec_banner">
        <div class="sec_banner_border">
			成为化妆品进入中国的最理想咨询机构
			<span>成功案例</span>
		</div>
    </div>
	<div class="con">
		<!--二级导航-->
		<div class="con_tit">
			<div class="con_tit_left">
				<a href="#" style="border-color: #E16E13;">成功案例</a>
			</div>
			<div class="con_tit_right">
				你的当前位置：
				<a href="{$siteurl($siteid)}">首页</a>
				<
				<a href="{$CATEGORYS[20][url]}">成功案例</a>	
			</div>
		</div>
        <ul class="con_box">
                <li class="con_list"><a href=""></a></li>
                <li class="con_list"><a href=""></a></li>
                <li class="con_list"><a href=""></a></li>
                <li class="con_list"><a href=""></a></li>
                <li class="con_list"><a href=""></a></li>
                <li class="con_list"><a href=""></a></li>
                <li class="con_list"><a href=""></a></li>
                <li class="con_list"><a href=""></a></li>
                <li class="con_list"><a href=""></a></li>
                <li class="con_list"><a href=""></a></li>
                <li class="con_list"><a href=""></a></li>
                <li class="con_list"><a href=""></a></li>
        </ul>
        <div class="button">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">···</a>
                <a href="#">></a>
            </div>
	</div>   
{template "content","footer"}