{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}init.css">
<link rel="stylesheet" href="{CSS_PATH}guanyuwomen.css">
    <div class="sec_banner">
        <div class="sec_banner_border">
			成为化妆品进入中国的最理想咨询机构
			<span>关于我们</span>
		</div>
    </div>
	<ul class="con">
        <li class="list"></li>
        <li class="list">
            <h1>公司简介</h1>
            <p>当地时间19日晚间，俄罗斯驻土耳其大使卡尔洛夫出席了在安卡拉举行的一场题为《土耳其人眼里的俄罗斯》画展的开幕式，并进行讲话。期间，一名男子突然向其开枪射击，致卡尔洛夫受伤。卡尔洛夫立刻被送入当地医院进行治疗，但最终伤重不治。
                <a href="{$CATEGORYS[13][url]}">[详情]</a>
            </p>
        </li>
        <li class="list">
            <a href="{$CATEGORYS[14][url]}">
            <h1>招贤纳士</h1>
            <div class="line"></div>
            <span>我们期待你的加入</span>
            </a>
        </li>
	</ul>
{template "content","footer"}            