{template "content","header"}
    <link rel="stylesheet" href="{CSS_PATH}init.css">
    <link rel="stylesheet" href="{CSS_PATH}yewujiesao.css">
<body>
     <div class="sec_banner">
        <div class="sec_banner_border">
			成为化妆品进入中国的最理想咨询机构
			<span>业务介绍</span>
		</div>
    </div>
    <div class="con">
        <ul class="inner_box">
    {pc:content action="category" catid="10" num="4" siteid="$siteid" order="listorder ASC"}
            {loop $data $v}
            <li class="inner_list">
                <div class="inner_icon"></div>
                <h3>{$v[catname]}</h3>
                <a href="{$v[url]}">查看详情 ></a>
            </li>
            {/loop}
            {/pc}
        </ul>
    </div>    
{template "content","footer"}




<!--<li class="inner_list">
                <div class="inner_icon"></div>
                <h3>化妆品备案流程</h3>
                <a href="">查看详情 ></a>
            </li>
            <li class="inner_list">
                <div class="li_top">
                    <div class="inner_icon"></div>
                    <h3>化妆品备案所需资料清单</h3>
                    <a href="">查看详情 ></a>
                </div>
                <div class="li_bot">
                    <div class="inner_icon"></div>
                    <h3>化妆品备案所需费用</h3>
                    <a href="">查看详情 ></a>
                </div>
            </li>-->